@model passwordModel

<body>
    <form asp-controller="password" >
        <div>
            <span>Length:</span>
            <span><input type="text" name="Length" value="12"/></span>
        </div>
        <div>
            <span>Length:</span>
            <span class="a"><input type="text" asp-for="@Model.Length" value="12"/></span>
        </div>
        <div class="space">
            <span>ABC:</span>
            <span><input type="checkbox" asp-for="@Model.HasUpper" checked/></span>
            <span><input name="HasUpper" type="hidden" value="false" /></span>
        </div>
        <div class="space">
            <span>abc:</span>
            <span><input type="checkbox" asp-for="@Model.HasLower" checked/></span>
            <span><input name="HasLower" type="hidden" value="false" /></span>
        </div>
        <div class="space">
            <span>123:</span>
            <span><input type="checkbox" asp-for="@Model.HasNumbers" checked/></span>
            <span><input name="HasNumbers" type="hidden" value="false" /></span>
        </div>
        <div class="space">
            <span>!#$:</span>
            <span><input type="checkbox"  asp-for="@Model.HasSpecial" checked/></span>
            <span><input name="HasSpecial" type="hidden" value="false" /></span>
            <div class="space">
                <input class="btn-primary" type="submit" value="Generate Password" name="password" asp-controller="password" asp-action="GetPassword"/>
            </div>
        </div>
        <div>
        </div>
    </form>
    <div>
        <span><label>Your Generated Password:</label></span>
        <span><input name="password" value="@Model.Password" type="text" readonly /></span>
    </div>
</body>