@*<script>
    function GetPassword() {
        window.location.href = "/password/GetPassword/";
    }
</script>*@
@using PasswordGenerator.Models
<body>
    <form asp-controller="password" >
        <div>
            <span>Length:</span>
            <span><input type="text" name="Length" value="@passwordModel.Length"/></span>
            <span><label asp-for="@passwordModel.Password">Your Generated Password:</label></span>
            <span><input name="" type="text" readonly /></span>
        </div>
        <div>
            <span>ABC:</span>
            <span><input type="checkbox" asp-for="@passwordModel.HasUpper" checked /></span>
            <span><input name="HasUpper" type="hidden" value="false" /></span>
        </div>
        <div>
            <span>abc:</span>
            <span><input type="checkbox" asp-for="@passwordModel.HasLower" checked/></span>
            <span><input name="HasLower" type="hidden" value="false" /></span>
        </div>
        <div>
            <span>123:</span>
            <span><input type="checkbox" asp-for="@passwordModel.HasNumbers" checked/></span>
            <span><input name="HasNumbers" type="hidden" value="false" /></span>
        </div>
        <div>
            <span>!#$:</span>
            <span><input type="checkbox"  asp-for="@passwordModel.HasSpecial" checked/></span>
            <span><input name="HasSpecial" type="hidden" value="false" /></span>
            <div>
                <input type="submit" name="password" asp-controller="password" asp-action="GetPassword"/>
            </div>
        </div>
        <div>
        </div>
    </form>
</body>
@*onclick="GetPassword()"
asp-controller="passwordController" asp-action="GetPassword"
<button type="button" name="generatedPassword" asp-controller="passwordController" asp-action="GetPassword">Generate Password</button>

*@